
name: .NET build & test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
    - uses: actions/checkout@v3
    - run: |
        dotnet tool restore
        dotnet csharpier check .
  build:
    runs-on: ubuntu-latest
    name: Build & Test
    defaults:
      run:
        working-directory: ./sources
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Test
      run: dotnet test -c debug --filter "FullyQualifiedName~AutomatedTests"
    - name: Build
      run: dotnet build -c release
